   <!-- Footer Start-->
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-items">
                <div class="footer-item">
                    <h4 class="footer-title" data-id="1">Payment Methods</h4>
                    <div class="collapsed-items" id="1">
                        <div class="collapsed-inner">
                            <div>
                                <a id="visa" href="/Pages/about.html">
                                    <img src="/assets/visa.svg" alt="" />
                                </a>
                                <a id="mastercard" href="">
                                    <img src="/assets/mastercard.svg" alt="" />
                                </a>
                            </div>
                            <div>
                                <a id="maximum-card" href="">
                                    <img src="/assets/maximum-new.svg" alt="" />
                                </a>
                                <a id="world-bank" href="">
                                    <img src="/assets/world-new.svg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="2">Mobile Applications</h4>
                    <div class="collapsed-items" id="2">
                        <div class="collapsed-inner">
                            <a href="https://www.apple.com/app-store/" tabindex="0">
                                <img class="bn46"
                                     src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                                     alt="bn45" />
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.play.games&hl=en&gl=US&pli=1"
                               tabindex="0">
                                <img class="bn45"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png"
                                     alt="bn45" />
                            </a>
                        </div>
                    </div>

                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="3">About Us</h4>
                    <div class="collapsed-items" id="3">
                        <div class="collapsed-inner">
                            <a asp-action="index" asp-controller="about" asp-fragment="business">Who we are</a>
                            <a asp-action="index" asp-controller="about" asp-fragment="whatwedo">What We Do</a>
                            <a asp-action="index" asp-controller="about" asp-fragment="contact-info">Contact Us</a>
                            <a asp-action="index" asp-controller="faq">FAQ</a>
                        </div>

                    </div>
                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="4">Social Media</h4>
                    <div class="collapsed-items" id="4">
                        <div class="collapsed-inner">
                            <a href="https://www.facebook.com/" id="facebook">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/" id="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/mirgubad-akbarov-191b32242/"
                               id="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="5">Contact Info</h4>
                    <div class="collapsed-items" id="5">
                        <div class="collapsed-inner">
                            <a href="">+994(55)222-21-11<i class="fa-solid fa-mobile"></i></a>
                            <a href="">+994(12)122-21-11 <i class="fa-solid fa-phone"></i></a>
                            <a href="">
                                example@gmail.com <i class="fa-solid fa-envelope"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-rights">This site created By Mirgubad Akbarov</p>
    </footer>
    <!--Footer End-->
    <!-- Scroll To Top-->
    <a href="#top" id="to-top-btn">
        <svg width="20px"
             xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </a>
    <!-- Scroll To Top-->



