@using Web.Areas.Admin.ViewModels.Location;
@model LocationCreateVM;

@{
    ViewBag.Title = "Contact Dashboard";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">Location Info Create </h3>
        </div>
        <div class="card">
            <div class="card-body">
                <form asp-action="create" asp-controller="location" asp-area="admin" method="post">
                    <div class="form-group">
                        <label asp-for="@Model.Url" class="col-form-label"></label>
                        <textarea asp-for="@Model.Url" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.Url"></span>
                    </div>
                    <button class="btn btn-sm btn-outline-success" type="submit">Submit</button>
                    <a asp-action="index" asp-controller="location" asp-area="admin" class="btn btn-sm btn-outline-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_FormValidationPartial")
    }
